
header, footer{
background-color: Teal;
  height: 100px;
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Krub', sans-serif;

}

main{
  height: 50%;
  width: 80%;
  margin: 0 auto;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Krub', sans-serif;
}

nav{
  background-color: white;
  width: 100%;
  text-align: center;
}

nav ul li{
  display: inline-block;
  margin-right: 10px;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-family: 'Krub', sans-serif;
}

.box{
  width: 300px;
  display: inline-block;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#video{
  margin: 0 auto
}

#roles{
  background-color: black;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

a{
  text-decoration: none;
}
a:hover{
  color: grey;
  text-decoration: underline;
}
