


/*CSS comment*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import url('https://fonts.googleapis.com/css?family=Quicksand');


body{
  background-color: orange;
  background-color: #333333;
  background-color: rgb(0,255,0);
  font-family: 'Roboto Condensed', sans-serif;

}
#Education{
  color: white;
  background-color: blue;
}

#Experience{
  text-decoration: none;
  color: white;
  background-color: blue;
  font-weight: 900;
    }

a:hover{
  color: red;
  text-decoration: none;
}

.backgroundChange {
  color: orange
}

p{
  line-height: 75px;
  text-indent: 50px;
}

#Blog{
  color: white;
}

#name{
  text-align: center;
  background-color: cyan;
  font-family: 'Quicksand', sans-serif;
}
.links{
  color: black;
  text-decoration: none;
}

#Skills{
  color: white;
}
